datasets
transformers
jax[cuda11_cudnn82]==0.3.14 # If this fails, follow the official instructions: pip install "jax[cuda11_cudnn82]==0.3.14" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jaxlib[cuda11_cudnn82]==0.3.14 # If this fails, follow the official instructions: pip install "jaxlib[cuda11_cudnn82]==0.3.14" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
flax
optax
huggingface_hub
scikit-learn
wandb==0.13.4